@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --main-bg-color: #F2EFE4;
  --pink-bg-color: #f9c5c7;

  --red-text-color: #ed1f27;
  --pink-text-color: #DCC281;


  --main-text-color: #313131;
  --gray-text-color-dark: #4e4c4c;
  --gray-bg-color: #afadad;
  --gray-text-color-sky: #605c5c;
}

/* =============================================== 

--------------------- ALL ------------------------

=================================================*/
.html {
  width: 100vw;
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

.textoGrisOscuro {
  color: var(--main-text-color);
}

.textoGrisMedio {
  color: var(--gray-text-color-dark)
}

.textoGrisClaro {
  color: var(--gray-text-color-sky);
}

.fondoGrisClaro {
  background-color: var(--gray-bg-color);
}

.fondoGrisOscuro {
  background-color: var(--main-text-color);
}

.fondoRosaClaro {
  background-color: var(--main-bg-color);
}

.textoRosaClaro {
  color: var(--main-bg-color);
}

.fondoRojo {
  background-color: var(--red-text-color);
}

.fondoRosaOscuro {
  background-color: var(--pink-text-color);
}

.fondoNegro {
  background-color: #000;
}

.textoRosaOscuro {
  color: var(--pink-text-color);
}

.textoCentrado {
  text-align: center;
}

.centrado {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.animacionActive:active {
  transition: .3s;
  scale: .96;
}

.animacionActive {
  transition: .3s;
  scale: 1;
}

.animacionHover:hover {
  cursor: pointer;
}

.espaciadoVH {
  margin: 13vh 0;
}

.letterSpacing {
  letter-spacing: .07em;
}

.width80vw {
  width: 80vw;
}

.width100vw {
  width: 100vw;
}

.width100p {
  width: 100%;
}

.fontMontserrat {
  font-family: 'Montserrat', sans-serif;
}

.fontOswald {
  font-family: 'Oswald', sans-serif;
}

.fontWeight400 {
  font-weight: 400;
}

.fontWeight500 {
  font-weight: 500;
}

.fontSize18px {
  font-size: 18px;
}

.textUnderline {
  text-decoration: underline;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}

.animacionScroll {
  view-timeline-name: --imagen;
  view-timeline-axis: block;

  animation-timeline: --imagen;
  animation-name: show;

  animation-range: entry 10% cover 30%;
  animation-fill-mode: both;
}

.paddingTop {
  margin-top: 1.5em;
}

/* =============================================== 

--------------------- NAVBAR ---------------------

=================================================*/
.imgFondo {
  background-image: url(../src/assets/pexels-pixabay-413885.jpg);
  background-size: cover;
  min-height: 100vh;
  max-height: 600px;
  width: 100vw;
  overflow: hidden;
  display: grid;
  place-content: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5) inset;
}

.navbar__arreglo {
  width: 1000px;
}

.navbar__Flex {
  max-width: 1000px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
}

.navbar__titleFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3vh;
  width: 1000px;
  border-radius: 30px;
  position: fixed;
  top: 2vh;
  transition: 1s;
  z-index: 9999;
}

.background_title {
  background-color: #fdf0f12d;
  box-shadow: 0 0 10px #605c5c6c;
}

.background_titleOscuro {
  background-color: #424242e3;
  box-shadow: 0 0 10px #605c5cd7;
}

.navbar__title {
  cursor: pointer;
  text-align: center;
  min-width: 5em;
  display: grid;
  place-content: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2.3em;
  font-weight: 300;
  color: black;
  position: relative;
  top: -5px;
}

.shadowText {
  text-shadow: #fdf0f1 0px 0 10px;
}

.navbar__title::after {
  content: "HAIR + LOUNGE";
  font-family: 'Times New Roman', Times, serif;
  font-size: .3em;
  font-weight: 300;
  letter-spacing: .6em;
  color: #ed1f27;
  position: absolute;
  bottom: -8px;
  left: 10px;
}

.navbar__title::before {
  content: "ECO FRIENDLY";
  font-family: 'Times New Roman', Times, serif;
  color: darkgreen;
  font-size: .2em;
  font-weight: 500;
  letter-spacing: .35em;
  position: absolute;
  top: 12px;
  right: 14px;
}

.navbar__title:active {
  scale: .96;
}

.navbar__ul--list {
  display: flex;
  gap: 1.5em;
  font-family: 'Manrope', sans-serif;
}

.navbar__ul--list li {
  cursor: pointer;
  padding: 5px 15px;
  text-align: center;
  list-style-type: none;
  font: 700 .95em 'Manrope';
}

.navbar__ul--list li:hover {
  transition: .2s;
  background-color: var(--pink-text-color);
  scale: 1.02;
  border-radius: 20px;
  color: var(--main-bg-color);
}

.navbar__ul--list li:active {
  transition: .2s;
  scale: .96;
  background-color: var(--red-text-color);
}

.navbar__img-text-conainer {
  display: flex;
  flex-direction: row;
}

.botonReservas {
  border-radius: 20px;
}

.textIntro {
  margin-bottom: 10vh;
  width: 500px;
}

.textIntro__title {
  font-size: 3.75em;
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
}

.textIntro__p {
  font-size: 1.1em;
  width: 500px;
  overflow: hidden;
}

.button {
  cursor: pointer;
  padding: 8px 20px;
  max-width: max-content;
  border-radius: 20px;
  font-weight: 600;
}

.button:hover {
  transition: .2s;
  background-color: var(--red-text-color);
  scale: 1.02;
}

.button:active {
  scale: .96;
}

.imgText {
  position: relative;
  width: 400px;
  height: 400px;
  bottom: 10vh;
  right: 0;
  background-image: url(../src/assets/stock-photo-blonde-girl-elegant-shiny-hairstyle.jpg);
  mix-blend-mode: multiply;
  background-size: cover;
  box-shadow: #f37277;
}

/* ======== Popup ==========*/

.popup__box {
  position: fixed;
  right: 10px;
  top: 50%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: #31313167;
  border-radius: 30px;
}

.popup__icon {
  width: 35px;
  height: 35px;
  background-size: contain;
  background-position: center center;
  cursor: pointer;
}

.popup__icon:hover {
  scale: 1.05;
}

.popup__icon:active {
  scale: .95;
}

.tel {
  background-image: url(../src/assets/call.png);
}

.whatsapp {
  background-image: url(../src/assets/whatsapp.png);
}

.instagram {
  background-image: url(../src/assets/instagram.png);
}

.facebook {
  background-image: url(../src/assets/facebook.png);
}




.scs-floating-button-right {
  width: 160px;
  height: 25px;
}

.scs-floating-button {
  top: 35vh;
  left: -2em;
  border-radius: 50px;
  display: flex;
  align-content: end;
  justify-content: center;
  font: 700 1.1em 'Manrope';
  letter-spacing: .1em;
  background-color: #ed1f27;
  flex-wrap: wrap;
}

.fondoRojo {
  background-color: #FF2424;
}

/* ================== Loader ==================*/
.loader {
  color: #ffffff;
  font-size: 20px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em,
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em,
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em,
      -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em,
      -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }

  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }

  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }

  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em,
      0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

/* =============================================== 

--------------------- MAIN -----------------------

=================================================*/
.main__flex {
  max-width: 1000px;
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__flex--services {
  flex-direction: column;

}

.main__flexCards {
  flex-direction: row;
  justify-content: space-around;
}

.main_section {
  max-width: 1200px;
}

.main_flexPhotos {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 400px;
  width: 100%;
  border-radius: 20px 30px 30px 60px;
}
.noPaddingTop{
  width: 100%;
  height: 4px;
  display: grid;
  place-content: center;
  position: relative;
}

.noPaddingTop::before {
  content: "";
  position: absolute;
  left: 20%;
  background-color: #DCC281;
  width: 60%;
  height: 100%;
}

.main__img {
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(100% - 50%);
  height: 80%;
  position: relative ;
}

.img1 {
  background-image: url(../src/assets/pexels-polina-tankilevitch-3738359.jpg);
  background-position: center center;
}

.borderIMG1 {
  border-radius: 20px 50px 50px 60px;
}

.img2 {
  background-image: url(../src/assets/pexels-sasha-kim-9413730.jpg);
}

.borderIMG2 {
  border-radius: 50px 20px 60px 50px;
}

.img3 {
  background-image: url(../src/assets/pexels-engin-akyurt-3331486.jpg);
}

.textoImg {
  width: calc(100% - 50%);
  padding: 0px 20px;
  text-align: center;
  display: grid;
  place-content: center;
  color: var(--gray-text-color-sky);
}

.widthYheigth100 {
  width: 100%;
  height: 100%;
}

.flexCarrusel {
  max-width: 900px;
}

.cardImage {
  width: 100%;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.card1 {
  background-image: url(../src/assets/cabello.png);
}

.card2 {
  background-image: url(../src/assets/pedicure.png);
}

.card3 {
  background-image: url(../src/assets/manicura.png);
}

.flex__marcas {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: auto;
}

.marcaImagen {
  width: 100%;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  mix-blend-mode: color-dodge;
  margin-bottom: 20px;
}

.kerastase {
  background-image: url(../src/assets/Kerastase-Symbol.png);
}

.loreal {
  background-image: url(../src/assets/Loreal_logo_black.png);
}

.inoa {
  background-image: url(../src/assets/OIP.jpg);
  width: 80%;
  height: 40px;
}

.opi {
  background-image: url(../src/assets/OPI_logo_logotype_black.png);
  width: 80%;
  height: 40px;
}


/* =============================================== 

--------------------- FOOTER ---------------------

=================================================*/

.footer__box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer_boxContent {
  display: block;
}

.footer__marcaDeAgua {
  padding: 10px 0px;
  border-top: 1px solid #afadad81;
}


.footer__box--redes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 5px;
}

.whatsapp__black {
  background-image: url(/src/assets/whatsapp_black.png);
}

.instagram__black {
  background-image: url(/src/assets/instagram_black.png);
}

.facebook__black {
  background-image: url(/src/assets/facebook_black.png);
}

.filter__opacity {
  filter: opacity(0.5);
  transition: .5s;
}

.filter__opacity:hover {
  filter: opacity(1);
  transition: .5s;
}

.arreglosTitle {
  top: 15px;
  width: 300px;
}

.arreglosTitle::before {
  left: 90px;
}

.arreglosTitle::after {
  left: 59px;
}

.textoMarcaDeAgua {
  color: #4e4c4ca2;
}


.espaciadoRedes {
  padding: 5px;
  margin: 0;
}

.marcasTexto {
  font-weight: 400;
}





/* =============================================== 

---------------- MEDIA QUERIES -------------------

================================================*/

@media screen and (max-width: 767px) {

  /* --------------------------
..........navbar............
----------------------------*/
  .imgFondo {
    background-position: 50% center;
  }

  .navbar__titleFlex {
    z-index: 1000;
  }

  .textIntro a {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 50;
    width: 100vw;
    background-color: #fff5f6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    place-content: center;
    padding: 10px 0;
  }

  .fondoRosaOscuro {
    background-color: #ed1f27;
  }

  .navbar__titleFlexMovil {
    display: flex;
    flex-direction: row;
    width: calc(100vw - 10px);
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 10px;
    background: #fff;
    justify-content: space-between;
    z-index: 1000;
  }


  .navegadorDropdown {
    width: 60px;
    height: 60px;
    background: transparent;
    display: grid;
    transition-delay: 0s, .75s;
    overflow: hidden;
  }

  .navegadorDropdown.active {
    width: 300px;
    right: 50px;
    height: 400px;
    transition-delay: 0s, .75s;
  }

  .menuDropdown {
    position: relative;
    width: 8c4445160px;
    height: 8c4445160px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menuDropdown::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 2px;
    background: #555;
    transform: translateY(-10px);
    box-shadow: 0 10px #555;
    transition: .5s;
  }

  .menuDropdown::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 2px;
    background: #555;
    transform: translateY(10px);
    transition: .5s;
  }

  .menuDropdown.active::before {
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 #555;
  }

  .menuDropdown.active::after {
    transform: translateY(0px) rotate(-45deg);
    box-shadow: 0 0 #555;
  }

  .menuDropdownNavegador2 {
    position: absolute;
    width: 50%;
    height: 300px;
    right: 0;
    margin-top: 60px;
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, .1);
    background-color: #fff;
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
  }

  .menuDropdownNavegador2 a {
    list-style: none;
  }

  .menuDropdownNavegador2 a li {
    display: flex;
    align-items: center;
    margin: 20px 0;
    font-size: 1em;
    gap: 10px;
    text-decoration: none;
    color: #555;
  }

  .menuDropdownNavegador2.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: .5s ease;
  }

  .menuDropdownNavegador2.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: .5s ease;
  }

  .navbar__Flex {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar__arreglo {
    width: 0;
    height: 0;
  }


  .textIntro {
    width: 80vw;
    display: grid;
    place-content: end end;
    gap: 50px;
    font-size: 18px;
  }

  .textIntro__p {
    width: 80vw;
  }

  /* popup */
  .popup__box {
    gap: 20px;
  }


  .scs-floating-button {
    width: 100vw;
    position: fixed;
    top: unset;
    bottom: 0;
    left: 0;
    right: auto;
    -webkit-transform: none;
    transform: none;
    z-index: 1000;
    border-radius: 0;
  }


  .scs-floating-button-right {
    margin-left: unset;
  }

  /* --------------------------
..........main............
----------------------------*/
  .main__flex {
    width: 100vw;
  }

  .main_flexPhotos {
    flex-direction: column;
    height: 100%;
    width: 100vw;
    max-width: 100vh;
  }

  .main_section {
    width: 100vw;
    margin-left: 2vw;
  }

  .main__img {
    width: 90vw;
    height: 50vw;
    margin-left: 0;
  }

  .main__img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 51vw;
    background-image:
      linear-gradient(to bottom,
        transparent 10%,
        transparent 85%,
        var(--main-bg-color, 0.5) 95%,
        var(--main-bg-color) 100%);
  }

  .borderIMG1 {
    border-radius: 30px 30px 0px 0px;
  }

  .textoImg {
    width: 90vw;
    height: 100%;
    padding: 30px 0px;
  }

  .textIntro__Box {
    position: relative;
    left: -20px;
  }

  .titleTextImg {
    font-size: 40px;
  }

  /*  ---  servicios ---  */
  .flex__marcas {
    width: 90vw;
  }

  /* --------------------------
..........footer............
----------------------------*/
  .arreglosTitle:after {
    right: 48px;
  }

  .footer_boxContent {
    text-align: center;
    padding: 20px 0px;
    display: grid;
    place-content: center;
  }

  .footer__box {
    display: block;
  }

  .footer__box--redes {
    width: 50vw;
    margin: auto;
  }

  .textoMarcaDeAgua {
    padding-bottom: 60px;
  }

  .main__card {
    width: 100%;
  }

}






.flexCarrusel {
  width: 90vw;
  height: 300px;
  z-index: 10;
}